{% extends 'base.html' %}
{% block content %}
<form action="{% url 'sortimgs:download' %}" method="post" id="download-form">
    {% csrf_token %}

<div class="row m-2">
    <div class="col-lg-6 col-md-6">
        <div class="form-group">
            <label for="imageset-select">Image Set</label>
            <select class="form-select" size="15" id="imageset-select" name="imageset">
                {% for imageset in imagesets %}
                    <option value="{{ imageset.id }}">{{ imageset.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="form-group">
            <label for="user-select">Annotator</label>
            <select class="form-select" size="15" id="user-select" name="user">
                {% for user in users %}
                    {% if user == request.user %}
                        <option value="{{ user.id }}" selected>{{ user.username }}</option>
                    {% else %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
</div>


<div class='row m-3'>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="delete-check" name="delete">
        <label class="form-check-label" for="delete-check">
            Delete the downloaded images from the set
        </label>
    </div>
</div>

<div class='row m-3'>
    <div>
        <button type='submit' id='download-button' class='btn btn-primary'>Download Images</button>
    </div>
</div>
</form>

{% endblock %}
