
{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="m-3">
    <input id="search-input" type="text" placeholder="Filter…" class="form-control" autofocus>
</div>
<div class="row my-2">
{% for imageset in object_list %}
    <div class="col card-box">

        <div class="card m-1" style="width: 18rem;">
        <div class="card-body">
            <span class="h5 card-title">{{ imageset.name }}
               <span class="badge rounded-pill text-bg-primary">{{ imageset.images.count }} </span></span>
            <h6 class="card-subtitle my-1 text-muted">{{ imageset.description }}</h6>
                <ul>
                {% for key, value in label_dict.items %}
                    {% if key == imageset %}
                        {% for label in value %}
                            <li>{{ label.name }}</li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </ul>
            <span>
                <a href="{% url 'sortimgs:labeling' imageset.id %}" class="btn btn-secondary"> Select </a>
            </span>
            <span class="ms-3">
                <a href="{% url 'sortimgs:img_upload' imageset.id %}" class="btn btn-outline-secondary pull-right"><img src="{%  static  'sortimgs/images/upload.svg' %}" alt="upload"></a>
            </span>
        </div>
        </div>
    </div>
{% endfor %}

</div>

<script>

function filterCards() {
  let input = document.getElementById("search-input").value;
  input = input.toLowerCase();

  let cards = document.getElementsByClassName("card-box");

  for (let i = 0; i < cards.length; i++) {
    let cardText = cards[i].innerText;

    cardText = cardText.toLowerCase();

    if (cardText.includes(input)) {
      cards[i].style.display = "";
    } else {
      cards[i].style.display = "none";
    }
  }
}

const searchInput = document.getElementById("search-input");
searchInput.addEventListener("input", filterCards);


</script>


{% endblock %}
