
{% extends 'base.html' %}
{% block content %}

<div class="m-2">
    <h3>Image Upload</h3>
</div>
<div class="m-2">
    Choose the image set: 
    {% if imageset_list %}
        <ul>
        {% for imageset in imageset_list %}
            <li><a href="{% url 'sortimgs:img_upload' imageset.id %}">{{ imageset.name }} ({{ imageset.images.count }})</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No Image set are available.</p>
    {% endif %}

</div>

{% endblock %}