{% extends 'base.html' %}

{% block content %}

<ul>
    {% for is in ImageSet.objects.all %}
        <li><a href="{% url 'sortimgs:labeling/{{ is.id }}' %}">{{ is.name }}</a></li>
    {% endfor %}
</ul>


<div class="row">
	<div>
        <p class="h4">{{ image_set.name }} <!--<small class="text-muted">  {{ image_set.description }}</small>--></p>
    </div>

	<div class="row my-2">
		<div class="col">
		    <span class="progress">
			<span class="progress-bar" role="progressbar" style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></span>
		    </span>
		</div>
		<div class='col'>
			{{ n_labeled }}/{{ n_total }}
		</div>
	</div>

</div>

<figure class="figure m-3">
    <img src="{% url 'sortimgs:show_img' image.id %}" alt="{{ image.image_set }}" class="img-fluid rounded">
    <figcaption class="figure-caption text-end">{{image.id}}</figcaption>

</figure>

<form action="{% url 'sortimgs:label_post' %}" method="post" id="labeling-form">
    {% csrf_token %}

    <div class="row y-3">
        <input type="hidden" name="image" value="{{ image.id }}">
    </div>

    <div class="row m-2">
            <div class="col-lg-12 col-md-12">
                <div class="btn-group btn-group-lg panel panel-default" role="group">
                {% for label in labels %}
                    <button type="button" class="btn btn-outline-primary" data-label="{{ label.id }}" accesskey="{{ forloop.counter }}"><span class="num">{{ forloop.counter }}. </span>{{ label.name }}</button>
                {% endfor %}
                </div>
            </div>
            <input type="hidden" name="label" id="label-input">

    </div>
    <div class='row m-3'>
	    <p><em>
            Alt + Number to select the item.
        </em></p>
    </div>

</form>

<style>
    @media (max-width: 768px) {
  .btn-group {
    display: none; /* ボタングループを非表示にする */
  }
  .panel {
    display: flex; /* パネルをフレックスボックスにする */
    flex-direction: column; /* パネル内の要素を縦に並べる */
    width: 100%; /* パネルの幅をいっぱいにする */
    height: auto; /* パネルの高さを自動にする */
    border: none; /* パネルの枠線をなくす */
  }
  .panel > button {
    display: block; /* パネル内のボタンを表示する */
    width: 100%; /* パネル内のボタンの幅をいっぱいにする */
    height: auto; /* パネル内のボタンの高さを指定する */
    line-height: 50px; /* パネル内のボタン内のテキストを中央に配置する */
    text-align: center; /* パネル内のボタン内のテキストを中央に配置する */
    margin-bottom: 1; /* パネル内のボタン同士の間隔をなくす */
  }
  .num {
    display: none;
  }
}


</style>

<script>
var buttons = document.querySelectorAll('.btn');
var form = document.getElementById('labeling-form');
var input = document.getElementById('label-input');
for (var i = 0; i < buttons.length; i++) {
  buttons[i].addEventListener('click', function() {
    var label = this.dataset.label;
    input.value = label;
    form.submit();
  });
}
</script>

{% endblock %}
