{% extends "base.html" %}

<!-- Contents -->
{% block content %}
<div class="container">
  <div class="col-md-6 offset-md-3">
    <div class="card mt-3 mb-3 bg-light">
      <!-- card header -->
      <div class="card-header bg-success text-light">
        Sign up Done
      </div>
      <!-- card body -->
      <div class="card-body">
        <p>You have successfully registered as a user. Please proceed to the login page.</p>
        <p class="text-danger">Please keep your "username" and "password" safe.</p>
        <hr>
        <a href="{% url 'account:login' %}">Log in</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}